---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('May 16 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		我想通过写一本书的方式来学习Astro。根据费曼的理论，这是学习很好的方法。这本书，是以一问一答的形式来组织内容。
		就是我在做的过程中，我不断提出问题，并记录下解决问题的途径，需要注意的点，在那里可以找到文档查看，有什么推荐的东西。
		还有心得。
	</p>

	<p>
		Try to learn Astro by writing a book.I'v readed that, teaching is the best way to learn.
		This book is all about questings an answers.Basely, is recording the processing i am tring 
		to build a website using Astro.I am asking all kinds quesings and try to answer it ,and 
		giveing the point you should avoid and the best practice,and the doc source.
	</p>

	
</Layout>
